.textInput {
  border-radius: 0.8rem;
  background: #23272f;
  box-shadow: 
  inset 5px 5px 10px #0e1013, 
  inset -5px -5px 10px #383e4b;
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: var(--color-texto);
  transition: all 0.2s ease-in-out;
}

.textInput:focus {
  border: 1px solid var(--color-focus);
  outline: none;
  box-shadow: inset 0px 0px 10px var(--color-focus),
    0px 0px 20px var(--color-focus);
}

.textInput::placeholder{
  color: var(--color-texto);
}