.table{
  color: var(--color-texto);
}
.filter-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.filter-input,
.page-size-select {
  padding: 8px;
  border: 1px solid var(--color-texto);
  border-radius: 4px;
  background-color: var(--color-primario);
  color: var(--color-texto);
}

.simple-table__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
}

.simple-table__th,
.simple-table__td {
  padding: 8px;
  border: 1px solid var(--color-texto);
  text-align: left;
  border-radius: 4px;
}

.simple-table__thead {
  
}

.simple-table__tbody tr:hover {
  background-color: #f7ba2b;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.pagination-button {
  padding: 8px 16px;
  border: 1px solid var(--color-texto);
  border-radius: 4px;
  background-color: var(--color-primario);
  cursor: pointer;
  color: var(--color-texto);
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination-info {
  font-size: 1rem;
}

.actions-menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.menu-items {
  position: absolute;
  right: 0;
  margin-top: 4px;
  width: 160px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.menu-item {
  display: block;
  width: 100%;
  padding: 8px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f1f1f1;
}

.menu-item--delete {
  color: #e53e3e;
}
